/* put your css changes here */

/* @import url("dark_theme.css"); */

.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}

@media only screen and (max-width: 800px) {

    footer{
      position: fixed;
      left: 0;
      bottom: 0;
      height: 4rem;
      text-align: center;
  }
}

